body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffff;
    color: #000000;
}

header {
    background-color: #a46dbd;
    color: #fff;
    text-align: center;
    padding: 10px;
}

img{
    width: 250px;
    height: 280px;
}
h2{
    text-align: center;
}

p{
text-align: justify;

}

section {
    margin: 10px;
    text-align: center;
}

button {
    font-size: 16px; 
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer;
    background-color: #bf87e4;
    border: none;
    align-items: center;
    
  }

  footer{
    text-align: center;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }